body {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

.container {
    /* margin-top: 10px; */
    width: calc(100vw - 200px);
    margin: 0 auto;
    height: calc(100vh - 100px);
    position: relative;
}

.dot {
    width: 3px;
    height: 3px;
    background-color: red;
    position: absolute;
}
.dot[data-name="a"] {
    left: 50%;
}

.dot[data-name="b"] {
    bottom: 0;
    left: 0;
}

.dot[data-name="c"] {
    bottom: 0;
    right: 0;
}

.flex {
    display: flex;
}